In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import datetime
import re

In [21]:
#df = pd.read_csv("archivo.csv")
os.listdir("DataClean")

['ceramica_tlp_sep.csv', 'tazas-vidrio_tlp_sep.csv']

In [22]:
#dataframe vacio
df=pd.DataFrame()

In [23]:
files=os.listdir('DataClean')
for x in files:
    file=pd.read_csv("DataClean/"+x)
    df=pd.concat([file,df])
df.head()

,Unnamed: 0,nombre articulo,categoria,price,priceprevious,rating
0,0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46.,180.00.,Valorado con 5.00 de 5
1,1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00.,300.00.,NaN
2,2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92.,440.00.,NaN
3,3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00.,600.00.,Valorado con 5.00 de 5
4,4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00.,150.00.,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 476 entries, 0 to 229
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       476 non-null    int64
 1   nombre articulo  476 non-null    object
 2   categoria        476 non-null    object
 3   price            476 non-null    object
 4   priceprevious    234 non-null    object
 5   rating           20 non-null     object
dtypes: int64(1), object(5)
memory usage: 26.0+ KB

In [24]:
#conteo de valores nulos
df.isnull().value_counts()

Unnamed: 0  nombre articulo  categoria  price  priceprevious  rating
False       False            False      False  False          True      214
                                                              False      20
                                               True           True        4
Name: count, dtype: int64

In [25]:
#Eliminar colums innesesarias
df.drop(['rating','priceprevious'], axis=1, inplace=True)
df.head()

,Unnamed: 0,nombre articulo,categoria,price
0,0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46.
1,1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00.
2,2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92.
3,3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00.
4,4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00.

In [28]:
# Renombra las columnas y aplica el cambio directamente
df.rename(columns={'nombre articulo': 'features','categoria': 'category'}, inplace=True)
df.head()

,Unnamed: 0,features,category,price
0,0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46.
1,1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00.
2,2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92.
3,3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00.
4,4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00.

In [29]:
#Eliminar colums innesesarias
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,features,category,price
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46.
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00.
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92.
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00.
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00.

In [30]:
#filtrar valores nulos
df=df[df['price'].notnull()]
df.isnull().value_counts()

features  category  price
False     False     False    238
Name: count, dtype: int64

In [32]:
#filtrar df si interfieren los encabezados de lkos archivos por las uniones
df=df[df['price']!='price']
df.head()

,features,category,price
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46.
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00.
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92.
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00.
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00.

In [33]:
#Limpieza extraer los feactures
#Precio
df["price"] = df["price"].str.replace(",", "", regex=False).str.replace(r"\.$", "", regex=True)
df['price'] = pd.to_numeric(df['price'], downcast='float')
df.head()

,features,category,price
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00

In [35]:
#funcion para buscar las unidades de medidas
def get_first_capacity(text, word_to_find):
    # Manejo de entradas no válidas (NaN o no string)
    if not isinstance(text, str):
        return ''
    patron = rf"(\d+\s*{word_to_find})"
    # Usamos re.search() para encontrar la PRIMERA coincidencia.
    try:
        match = re.search(patron, text, re.IGNORECASE)
        if match:
            # Devuelve la coincidencia completa (ej. '11oz' o '12 oz')
            return match.group(1)
        else:
            # Si no hay coincidencia, devuelve una cadena vacía
            return ''         
    except re.error:
        # Manejo de errores de RegEx, aunque es poco probable con este patrón
        return ''

In [36]:
#buscar capacidad oz
unidad_a_buscar = 'oz'
df[f'Capacidad_{unidad_a_buscar}'] = df['features'].apply(
    lambda x: get_first_capacity(x, unidad_a_buscar)
)
df.head()

,features,category,price,Capacidad_oz
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46,11oz
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00,11oz
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92,11oz
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00,11oz
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00,11oz

In [37]:
#buscar capacidad ml
unidad_a_buscar = 'ml'
df[f'Capacidad_{unidad_a_buscar}'] = df['features'].apply(
    lambda x: get_first_capacity(x, unidad_a_buscar)
)
df.head()

,features,category,price,Capacidad_oz,Capacidad_ml
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46,11oz,
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00,11oz,
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92,11oz,
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00,11oz,
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00,11oz,

In [38]:
#buscar capacidad pz
unidad_a_buscar = 'pz'
df[f'Capacidad_{unidad_a_buscar}'] = df['features'].apply(
    lambda x: get_first_capacity(x, unidad_a_buscar)
)
df.head()

,features,category,price,Capacidad_oz,Capacidad_ml,Capacidad_pz
0,Taza Cristal Satinado Exterior 11oz 6pz,"Blancos, Cristal, Tazas",125.46,11oz,,6pz
1,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",208.00,11oz,,12pz
2,Taza Cristal Satinado Exterior para sublimar 1...,"Blancos, Cristal, Tazas",250.92,11oz,,12pz
3,Taza Cristal Transparente para sublimar 11oz c...,"Blancos, Cristal, Tazas",416.00,11oz,,24pz
4,Taza Cristal Transparente 11oz 6pz,"Blancos, Cristal, Tazas",104.00,11oz,,6pz

In [39]:
# Selecciona solo las columnas de tipo 'object' (cadenas de texto)-- para convertirlas en minusculas
df_minusc = df.select_dtypes(include=['object']).apply(lambda x: x.str.lower())

# Reemplaza las columnas originales con las columnas en minúsculas
df[df_minusc.columns] = df_minusc
df.head()

,features,category,price,Capacidad_oz,Capacidad_ml,Capacidad_pz
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,11oz,,6pz
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,11oz,,12pz
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,11oz,,12pz
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,11oz,,24pz
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,11oz,,6pz

In [58]:
#unir columnas
df['Capacidad']= df['Capacidad_ml']+df['Capacidad_oz'].astype(str).str.strip()
df.head()

,features,category,price,Capacidad_oz,Capacidad_ml,Capacidad_pz,Capacidad
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,11oz,,6pz,11oz
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,11oz,,12pz,11oz
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,11oz,,12pz,11oz
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,11oz,,24pz,11oz
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,11oz,,6pz,11oz

In [82]:
#eliminamos columnas auxiliares
eliminar = ['Capacidad_oz','Capacidad_ml']
# Opción 1: Modificar el DataFrame original (inplace=True)
#df.drop(columns=eliminar, inplace=True)
# Opción 2: Crear un nuevo DataFrame con las columnas eliminadas
new_df= df.drop(columns=eliminar)
new_df.head()

,features,category,price,Capacidad_pz,Capacidad
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,6pz,11oz
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,12pz,11oz
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,12pz,11oz
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,24pz,11oz
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,6pz,11oz

In [73]:
# encontrar valores nulos
new_df.isnull().values.sum()

np.int64(0)

In [74]:
#valores tiene capacidad
new_df['Capacidad'].unique()

array(['11oz', '12oz', '15oz', '17oz', '6oz', '15 oz', ''], dtype=object)

In [83]:
#limpieza de capacidad extraemos los numeros
new_df['Capacidad_oz'] = df['Capacidad_oz'].str.extract(r'(\d+)', expand=False)
new_df['Capacidad_oz'].unique()
new_df.head()

,features,category,price,Capacidad_pz,Capacidad,Capacidad_oz
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,6pz,11oz,11
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,12pz,11oz,11
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,12pz,11oz,11
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,24pz,11oz,11
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,6pz,11oz,11

In [84]:
#valores tiene capacidad
new_df['Capacidad_oz'].unique()

array(['11', '12', '15', '17', '6', nan], dtype=object)

In [85]:
#valores tiene pz
new_df['Capacidad_pz'].unique()

array(['6pz', '12pz', '24pz', '48pz', '36pz', '72pz', '24 pz', '',
       '36 pz', '72 pz'], dtype=object)

In [86]:
#limpieza de capacidad extraemos los numeros
new_df['pz'] = df['Capacidad_pz'].str.extract(r'(\d+)', expand=False)
new_df['pz'].unique()
new_df.head()

,features,category,price,Capacidad_pz,Capacidad,Capacidad_oz,pz
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,6pz,11oz,11,6
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,12pz,11oz,11,12
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,12pz,11oz,11,12
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,24pz,11oz,11,24
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,6pz,11oz,11,6

In [87]:
new_df['pz'].unique()

array(['6', '12', '24', '48', '36', '72', nan], dtype=object)

In [88]:
# Eliminar filas vacias Nan
new_df=new_df.dropna(subset=['Capacidad_oz'])
new_df=new_df.dropna(subset=['pz'])

In [89]:
#revisamos que se hayan eliminado los valores NaN
new_df['Capacidad_oz'].unique()

array(['11', '12', '15', '17', '6'], dtype=object)

In [90]:
#revisamos que se hayan eliminado los valores NaN
new_df['pz'].unique()

array(['6', '12', '24', '48', '36', '72'], dtype=object)

In [91]:
#eliminamos columnas auxiliares
eliminar = ['Capacidad','Capacidad_pz']
#Modificar el DataFrame original (inplace=True)
new_df.drop(columns=eliminar, inplace=True)
new_df.head()

,features,category,price,Capacidad_oz,pz
0,taza cristal satinado exterior 11oz 6pz,"blancos, cristal, tazas",125.46,11,6
1,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",208.00,11,12
2,taza cristal satinado exterior para sublimar 1...,"blancos, cristal, tazas",250.92,11,12
3,taza cristal transparente para sublimar 11oz c...,"blancos, cristal, tazas",416.00,11,24
4,taza cristal transparente 11oz 6pz,"blancos, cristal, tazas",104.00,11,6

In [92]:
#convertir en entero
new_df['Capacidad_oz'] = pd.to_numeric(new_df['Capacidad_oz'], errors='coerce')
new_df['pz'] = pd.to_numeric(new_df['pz'], errors='coerce')

In [93]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 0 to 229
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   features      236 non-null    object
 1   category      236 non-null    object
 2   price         236 non-null    float64
 3   Capacidad_oz  236 non-null    int64
 4   pz            236 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 11.1+ KB

In [117]:
#Limpieza de feactures
new_df.loc[:, 'features']=new_df['features'].str.replace(r'\d+', '', regex=True)#elimina numeros
new_df.loc[:, 'features']=new_df['features'].str.replace(r'[^\w\s]', '', regex=True)#quita signos de puntuacion
new_df.loc[:, 'features']=new_df['features'].str.replace('oz|ml|tlp|pz|para sublimar|para sublimación|para sublimacion|con|aa|color|pack', '', regex=True)
new_df.loc[:, 'features']=new_df['features'].str.replace(r'\s+', ' ', regex=True).str.strip()#elimina dobles espacios y espacios al inicio y final del texto




new_df.head(10)

,features,category,price,capacity,pz
0,taza cristal satinado exterior,blancos cristal tazas,125.46,11,6
1,taza cristal transparente,blancos cristal tazas,208.00,11,12
2,taza cristal satinado exterior,blancos cristal tazas,250.92,11,12
3,taza cristal transparente,blancos cristal tazas,416.00,11,24
4,taza cristal transparente,blancos cristal tazas,104.00,11,6
5,taza cristal satinado exterior,blancos cristal tazas,501.84,11,24
6,taza cristal satinado exterior,blancos cristal tazas,1003.68,11,48
7,taza cristal transparente,blancos cristal tazas,832.00,11,48
0,taza blanca,ceramica blancos ofertas de temporada,475.20,11,36
1,taza blanca,ceramica blancos,950.40,11,72

In [118]:
#quita acentos funciona
import unicodedata
def quitar_acentos(texto):
    
    nfkd_form = unicodedata.normalize('NFD', str(texto))
    sin_acentos = ''.join([c for c in nfkd_form if unicodedata.category(c) != 'Mn'])
    return sin_acentos

new_df.loc[:,'features']=new_df['features'].apply(quitar_acentos)
new_df.loc[:,'category']=new_df['category'].apply(quitar_acentos)
new_df.head()

                         features               category   price  capacity  pz
0  taza cristal satinado exterior  blancos cristal tazas  125.46        11   6
1       taza cristal transparente  blancos cristal tazas  208.00        11  12
2  taza cristal satinado exterior  blancos cristal tazas  250.92        11  12
3       taza cristal transparente  blancos cristal tazas  416.00        11  24
4       taza cristal transparente  blancos cristal tazas  104.00        11   6

In [119]:
import pandas as pd
import string
# Quitar signos de puntuación
#new_df['category'] =new_df['category'].str.translate(str.maketrans('', '', string.punctuation))
new_df['features'] =new_df['features'].str.replace(r'[^\w\s]', '', regex=True)#elimina todo lo que no sea letra, número o espacio.
new_df['features'] =new_df['features'].str.replace('  ', ' ', regex=False).str.strip()#quita doble espacio
new_df.head()

                         features               category   price  capacity  pz
0  taza cristal satinado exterior  blancos cristal tazas  125.46        11   6
1       taza cristal transparente  blancos cristal tazas  208.00        11  12
2  taza cristal satinado exterior  blancos cristal tazas  250.92        11  12
3       taza cristal transparente  blancos cristal tazas  416.00        11  24
4       taza cristal transparente  blancos cristal tazas  104.00        11   6

In [120]:
#Funcion para la impieza de categoria
def limpiar_columna(df, columna):
    df_limpio = df.copy()
    df_limpio[columna] = df_limpio[columna].astype(str)
    # Quitar acentos
    df_limpio[columna] = df_limpio[columna].apply(
        lambda x: ''.join(
            c for c in unicodedata.normalize('NFD', x)
            if unicodedata.category(c) != 'Mn'
        )
    )
    df_limpio[columna] = df_limpio[columna].str.replace(r'\d+', '', regex=True)#elimina numeros
    df_limpio[columna] = df_limpio[columna].str.replace('oz', '', regex=True)
    df_limpio[columna] = df_limpio[columna].str.translate(str.maketrans('', '', string.punctuation)) # Quitar signos de puntuación
    df_limpio[columna] = df_limpio[columna].str.replace(r'[^\w\s]', '', regex=True) # Quitar caracteres especiales
    df_limpio[columna] = df_limpio[columna].str.replace(r'\s+', ' ', regex=True).str.strip()# Quitar espacios dobles y espacios al inicio/final
    df_limpio[columna] = df_limpio[columna].str.lower() #  Convertir a minúsculas

    
    return df_limpio

In [121]:
# Limpiar solo la columna 'categoria'
new_df= limpiar_columna(new_df, 'category')
new_df.head(10)

,features,category,price,capacity,pz
0,taza cristal satinado exterior,blancos cristal tazas,125.46,11,6
1,taza cristal transparente,blancos cristal tazas,208.00,11,12
2,taza cristal satinado exterior,blancos cristal tazas,250.92,11,12
3,taza cristal transparente,blancos cristal tazas,416.00,11,24
4,taza cristal transparente,blancos cristal tazas,104.00,11,6
5,taza cristal satinado exterior,blancos cristal tazas,501.84,11,24
6,taza cristal satinado exterior,blancos cristal tazas,1003.68,11,48
7,taza cristal transparente,blancos cristal tazas,832.00,11,48
0,taza blanca,ceramica blancos ofertas de temporada,475.20,11,36
1,taza blanca,ceramica blancos,950.40,11,72

In [122]:
# Renombra la columna caegoria
new_df.rename(columns={'Capacidad_oz': 'capacity'}, inplace=True)
new_df.head()

                         features               category   price  capacity  pz
0  taza cristal satinado exterior  blancos cristal tazas  125.46        11   6
1       taza cristal transparente  blancos cristal tazas  208.00        11  12
2  taza cristal satinado exterior  blancos cristal tazas  250.92        11  12
3       taza cristal transparente  blancos cristal tazas  416.00        11  24
4       taza cristal transparente  blancos cristal tazas  104.00        11   6

In [123]:
new_df.to_csv('clean_cups.csv', index=False)